@{
    Layout="Shared/_Layout.cshtml";
}
<form action="/stylists/new" method="post">
  <label for="stylist-name">Stylist name</label>
  <input id="stylist-name" name="stylist-name" type="text">
  <button cuisine="submit">Add</button>
</form>
