@{
    Layout="Shared/_Layout.cshtml";
}
<h1>All stylists</h1>
@if (@Model.Count == 0)
{
  <p>There are no stylists yet.</p>
}
<ul>
  @foreach (var stylist in Model)
  {
    <li><a href="/stylists/@stylist.GetId()">@stylist.GetName()</a></li>
  }
</ul>
<a href="/stylists/new">Add new stylist</a>
  <p><a href="/" class="links">Go back home</a></p>
