<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/Content/css/styles.css" media="screen" title="no title">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Fascinate+Inline|Mr+Dafoe|Quicksand|Sacramento" rel="stylesheet">
    <title></title>
</head>
<body>
    <div class="row">
        <img src="http://lionesseflatiron.org/wp-content/uploads/2015/09/Lionesse-Victorian-Era-Hair-Tools.jpg" class="lady" alt="image of a woman combing her hair">
        <img src="http://static.wixstatic.com/media/8df1a9_4d983e9aae7d61e34b90c9ce78607d43.jpg_srz_980_653_85_22_0.50_1.20_0.00_jpg_srz" class="salon" alt="black and white image of a salon">
    </div>
    <div class="container">
        <div class="title">
            <img src="http://imgsrc.art.com/img/print/print/alfred-eisenstaedt-women-sitting-under-hair-dryers-in-salon-at-saks-fifth-avenue-department-store_a-g-3597890-4990704.jpg?w=895&h=671" class="ladies" alt="image of women lined up with hair dryers">
            <h1><span class="header1">You Go, </span><span class="header2">Curl</span></h1>
            <h1 class="header3">A Seattle Hair Salon</h1>
        </div>
        @RenderBody()
    </div>
</div>
</body>
</html>
