<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/Content/css/styles.css" media="screen" title="no title">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Fascinate+Inline|Mr+Dafoe|Quicksand|Sacramento" rel="stylesheet">
  <title></title>
</head>
<body>
    <h1 class = "jumbotron"></h1>
    <div class="container">
        <h1><span class="header1">You Go, </span><span class="header2">Currrrl</span></h1>
    @RenderBody()
  </div>
</body>
</html>
