.header1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 100px;
    color: #D3D3D3
}

.header2 {
    font-family: 'Sacramento', cursive;
    font-size: 140px;
}

a {
    font-size: 30px;
    color: #D3D3D3;
}

h4 {
    font-size: 40px;
}

p {
    font-size: 25px;
}

h2 {
    font-size: 40px;
}

form {
    font-size: 25px;
}

li {
    list-style-type: none;
}


body {
    font-family: 'Amatic SC', cursive;
   position: relative;
   background-color: #006767;
}

.lady {
    float: right;
    height: 600px;
    width: 40%;
}

.salon {
    float: left;
    height: 600px;
    width: 60%;
}
