.header1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 130px;
    color: #D3D3D3

}

.header2 {
    font-family: 'Sacramento', cursive;
    font-size: 180px;
}

a {
    font-size: 30px;
    color: #D3D3D3;
}

h4 {
    font-size: 40px;
}

p {
    font-size: 25px;
}

h2 {
    font-size: 40px;
}

form {
    font-size: 25px;
}

li {
    list-style-type: none;
}


body {
    font-family: 'Amatic SC', cursive;
   position: relative;
   background-color: #006767;
}

.lady {
    float: right;
    height: 600px;
    width: 40%;
    border: 6px solid white;
    margin-bottom: 50px;

}

.salon {
    float: left;
    height: 600px;
    width: 60%;
    border: 6px solid white;
    margin-bottom: 50px;

}

.ladies {
    margin-top: 40px;
    height: 200px;
    border:2px solid white;
    border-radius: 50%
}

.title {
    border: 6px dashed white;
    text-align: center;
    margin-bottom: 70px;
}

.header3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    margin-bottom: 70px;
}
